In [1]:
import pandas as pd
import numpy as np
import torch
import torch.nn as nn
from scipy.spatial.distance import cdist
from tqdm import tqdm

from PSO import PSO
from utils import sammon_error

In [2]:
df = pd.read_csv('radon_metrics.csv').drop('Unnamed: 0', axis=1)

In [3]:
df

,HCPL,HDIF,HEFF,HNDB,HPL,HPV,HTRP,HVOL,MI
0,0.000000,0.000000,0.000000e+00,0.000000,0.0,0.0,0.000000,0.000000,80.024765
1,2.000000,0.500000,2.377444e+00,0.001585,3.0,3.0,0.132080,4.754888,80.024765
2,4.754888,0.666667,8.000000e+00,0.004000,6.0,4.0,0.444444,12.000000,64.774293
3,67.757201,4.846154,6.283419e+02,0.043219,30.0,20.0,34.907881,129.657843,56.032441
4,26.000000,1.000000,3.986314e+01,0.013288,12.0,10.0,2.214619,39.863137,56.032441
...,...,...,...,...,...,...,...,...,...
5631,91.193449,1.650000,2.463079e+02,0.049759,33.0,23.0,13.683775,149.277545,0.000000
5632,145.636336,1.655172,3.972414e+02,0.080000,48.0,32.0,22.068966,240.000000,0.000000
5633,553.128273,10.891566,2.402835e+04,0.735381,339.0,91.0,1334.908109,2206.142383,0.000000
5634,3279.827578,22.801061,3.616592e+05,5.287169,1842.0,391.0,20092.178012,15861.507677,0.000000
5635,9325.910454,23.825346,1.130346e+06,15.814339,4794.0,953.0,62797.017424,47443.017544,0.000000

In [4]:
data = torch.from_numpy(df.to_numpy())

In [5]:
device = torch.device('cuda' if torch.cuda.is_available() else 'cpu')
device

device(type='cuda')

In [ ]:
feat_idx = PSO(data, sammon_error, 2, device=device).cpu()

 50%|█████████████████████████████████████████                                         | 15/30 [00:12<00:16,  1.10s/it]

In [ ]:
df.columns[feat_idx]